{% extends "base.html" %}
{% load static %}

{% block content %}

    <h2>Hi, I'm Huda, and I made this blog for the Athena Award!</h2>
    <div class="row row-cols-4">
        {% for post in posts %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="width: 18rem;">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.date }}</h6>
                    <a href="{% url 'detail' post.pk %}" class="card-link" style="cursor: url('{% static 'images/firefly-cursor-2.png' %}') 0 0, pointer">Read post</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

<!--TODO
- Add option where hovering over card lifts it
- firefly cursor
- cursor effect 
- Fix card css
- add firefly effect 
- bio
-->
